**CÁLCULO FINANCIERO EN PYTHON**
==
*Magister Jorge Córdoba*
===
**@CEFCAPACITAR**

![Mail.jpg]()

**Sistemas de amortización**
---

Solamente se consideran los sistemas financiero.

In [ ]:
tna = float(input('ingresa una tasa nominal de interés: '))
capitalizacion = float(input('ingresa la cantidad de períodos que capitaliza en el año: '))
te = tna/capitalizacion
print('Tasa efectiva: ', te)
capital = float(input('ingrese el capital incial de la operación: '))
moneda = input('ingrese la unidad de medida de la moneda (USD o pesos): ').upper()
plazo = int(input('ingrese la cantidad de períodos de la operación: '))

ingresa una tasa nominal de interés: .12
ingresa la cantidad de períodos que capitaliza en el año: 12
Tasa efectiva:  0.01
ingrese el capital incial de la operación: 1000
ingrese la unidad de medida de la moneda (USD o pesos): usd
ingrese la cantidad de períodos de la operación: 12

In [ ]:
sistema = input('elija el sistema de amortización (F, Al, Am): ').upper()
if sistema == 'AM':
  interes = capital * te
  print('Sistema americano')
  for i in range (1, plazo):
    print(f'el monto a pagar en la cuota {i}: {moneda} {interes:<12.2f}')
  print(f'el monto a pagar en la cuota {plazo}: {moneda} {interes+capital:<12.2f}')
  print(f'Interés total: {moneda} {interes*plazo:<12.2f}')

elif sistema == 'AL':
  print('Sistema alemán')
  interes_total = 0
  amortizacion = capital/plazo
  saldo = capital
  for i in range (1, plazo + 1):
    interes = saldo*te
    interes_total+=interes
    print(f'el monto a pagar en la cuota {i}: {moneda} {interes+amortizacion:<12.2f}, el monto de intereses: {moneda} {interes:<12.2f} y el capital a pagar: {moneda} {amortizacion:<12.2f}')
    saldo -= amortizacion
  print(f'Interés total: {moneda} {interes_total:<12.2f}')


else:
  print('Sistema francés')
  cuota = capital*te/(1-((1+te)**(-plazo)))
  amortizacion = 0
  saldo = capital
  interes_total=0
  for i in range (1, plazo + 1):
    interes = saldo*te
    amortizacion = cuota - interes
    saldo -= amortizacion
    interes_total+=interes
    print(f'el monto a pagar en la cuota {i}: {moneda} {interes+amortizacion:<12.2f}, el monto de intereses: {moneda} {interes:<12.2f} y el capital a pagar: {moneda} {amortizacion:<12.2f}')
  print(f'Interés total:{moneda} {interes_total:<12.2f}')

elija el sistema de amortización (F, Al, Am): f
Sistema francés
el monto a pagar en la cuota 1: USD 88.85       , el monto de intereses: USD 10.00        y el capital a pagar: USD 78.85
el monto a pagar en la cuota 2: USD 88.85       , el monto de intereses: USD 9.21         y el capital a pagar: USD 79.64
el monto a pagar en la cuota 3: USD 88.85       , el monto de intereses: USD 8.42         y el capital a pagar: USD 80.43
el monto a pagar en la cuota 4: USD 88.85       , el monto de intereses: USD 7.61         y el capital a pagar: USD 81.24
el monto a pagar en la cuota 5: USD 88.85       , el monto de intereses: USD 6.80         y el capital a pagar: USD 82.05
el monto a pagar en la cuota 6: USD 88.85       , el monto de intereses: USD 5.98         y el capital a pagar: USD 82.87
el monto a pagar en la cuota 7: USD 88.85       , el monto de intereses: USD 5.15         y el capital a pagar: USD 83.70
el monto a pagar en la cuota 8: USD 88.85       , el monto de intereses: USD 4.31         y el capital a pagar: USD 84.54
el monto a pagar en la cuota 9: USD 88.85       , el monto de intereses: USD 3.47         y el capital a pagar: USD 85.38
el monto a pagar en la cuota 10: USD 88.85       , el monto de intereses: USD 2.61         y el capital a pagar: USD 86.24
el monto a pagar en la cuota 11: USD 88.85       , el monto de intereses: USD 1.75         y el capital a pagar: USD 87.10
el monto a pagar en la cuota 12: USD 88.85       , el monto de intereses: USD 0.88         y el capital a pagar: USD 87.97
Interés total:USD 66.19

In [ ]:
sistema = input('elija el sistema de amortización (F, Al, Am): ').upper()
match sistema:
  case 'AM':
    interes = capital * te
    print('Sistema americano')
    for i in range (1, plazo):
      print(f'el monto a pagar en la cuota {i}: {moneda} {interes:<12.2f}')
    print(f'el monto a pagar en la cuota {plazo}: {moneda} {interes+capital:<12.2f}')
    print(f'Interés total: {moneda} {interes*plazo:<12.2f}')

  case 'AL':
    print('Sistema alemán')
    interes_total = 0
    amortizacion = capital/plazo
    saldo = capital
    for i in range (1, plazo + 1):
      interes = saldo*te
      interes_total+=interes
      print(f'el monto a pagar en la cuota {i}: {moneda} {interes+amortizacion:<12.2f}, el monto de intereses: {moneda} {interes:<12.2f} y el capital a pagar: {moneda} {amortizacion:<12.2f}')
      saldo -= amortizacion
    print(f'Interés total: {moneda} {interes_total:<12.2f}')


  case 'F':
    print('Sistema francés')
    cuota = capital*te/(1-((1+te)**(-plazo)))
    amortizacion = 0
    saldo = capital
    interes_total=0
    for i in range (1, plazo + 1):
      interes = saldo*te
      amortizacion = cuota - interes
      saldo -= amortizacion
      interes_total+=interes
      print(f'el monto a pagar en la cuota {i}: {moneda} {interes+amortizacion:<12.2f}, el monto de intereses: {moneda} {interes:<12.2f} y el capital a pagar: {moneda} {amortizacion:<12.2f}')
    print(f'Interés total:{moneda} {interes_total:<12.2f}')

elija el sistema de amortización (F, Al, Am): f
Sistema francés
el monto a pagar en la cuota 1: USD 88.85       , el monto de intereses: USD 10.00        y el capital a pagar: USD 78.85
el monto a pagar en la cuota 2: USD 88.85       , el monto de intereses: USD 9.21         y el capital a pagar: USD 79.64
el monto a pagar en la cuota 3: USD 88.85       , el monto de intereses: USD 8.42         y el capital a pagar: USD 80.43
el monto a pagar en la cuota 4: USD 88.85       , el monto de intereses: USD 7.61         y el capital a pagar: USD 81.24
el monto a pagar en la cuota 5: USD 88.85       , el monto de intereses: USD 6.80         y el capital a pagar: USD 82.05
el monto a pagar en la cuota 6: USD 88.85       , el monto de intereses: USD 5.98         y el capital a pagar: USD 82.87
el monto a pagar en la cuota 7: USD 88.85       , el monto de intereses: USD 5.15         y el capital a pagar: USD 83.70
el monto a pagar en la cuota 8: USD 88.85       , el monto de intereses: USD 4.31         y el capital a pagar: USD 84.54
el monto a pagar en la cuota 9: USD 88.85       , el monto de intereses: USD 3.47         y el capital a pagar: USD 85.38
el monto a pagar en la cuota 10: USD 88.85       , el monto de intereses: USD 2.61         y el capital a pagar: USD 86.24
el monto a pagar en la cuota 11: USD 88.85       , el monto de intereses: USD 1.75         y el capital a pagar: USD 87.10
el monto a pagar en la cuota 12: USD 88.85       , el monto de intereses: USD 0.88         y el capital a pagar: USD 87.97
Interés total:USD 66.19